$tileWidth: 80px;

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #8bc6ec;
    background-image: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%);
    height: 100vh;
    max-height: 100vh;
    margin: 0px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selection-menu {
    height: 500px;
    width: 500px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

.select-tile {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: $tileWidth;
}

.select-button {
    background-color: #ffdee9;
    background-image: linear-gradient(0deg, #ffdee9 0%, #b5fffc 100%);
    font-size: $tileWidth / 2;

    height: 25px + $tileWidth;
    width: 25px + $tileWidth;
    border: 4px solid darkgrey;
    border-radius: 20px;

    &:hover {
        background-color: #f463bc;
        background-image: linear-gradient(0deg, #f463bc 0%, #2edfdc 100%);

        border-color: black;
    }
}
