$tileWidth: 80px;
$hoverDropShadow: drop-shadow(4px 5px 6px rgba(0, 0, 0, 0.5));

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #8bc6ec;
    background-image: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%);
    height: 100vh;
    max-height: 100vh;
    margin: 0px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
}

.page-nav {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana,
        sans-serif;
    font-size: 28px;

    li {
        display: inline-block;
        padding-right: 20px;
        list-style-type: none;

        a {
            text-decoration: none;
            color: white;

            &:hover {
                text-decoration: underline;
                color: lightgoldenrodyellow;
            }
        }
    }
}

.selection-menu {
    height: 500px;
    width: 500px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

.select-tile {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: $tileWidth;
}

.select-button {
    background-color: #ffdee9;
    background-image: linear-gradient(0deg, #ffdee9 0%, #73fcf7 100%);
    font-size: $tileWidth / 2;

    height: 25px + $tileWidth;
    width: 25px + $tileWidth;
    border: 4px solid darkgrey;
    border-radius: 20px;

    &:hover {
        background-color: #f463bc;
        background-image: linear-gradient(0deg, #f463bc 0%, #2edfdc 100%);

        border-color: black;
    }
}

#center-face {
    height: 25px + $tileWidth;
    width: 25px + $tileWidth;
    padding: 15px;
}
